.redButton {
  padding: 1.2rem 2rem;
  background: rgba(203, 91, 67, 0.3);
  color: #c72a06;
  border-radius: 10rem;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}